.Home p.big {
  font-size: 20px;
}
.Home .big {
  font-size: 48px;
}
.Home h1 {
  color: #222;
}
.Home .line {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
.Home .line .half {
  width: 40%;
  padding: 10px;
}
.Home .line .left {
  text-align: left;
  padding: 20px;
}
.Home .line.around .svg {
  height: 100%;
  width: 100%;
}
.Home .line .service {
  border-radius: 10px;
  box-shadow: 2px 5px 5px 2px #00000020;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  font-size: 16px;
  margin: 0 50px;
}
.Home .line .service .block {
  height: 80px;
}
.Home .line .service .svg {
  height: 200px;
  width: 200px;
}
