body {
  margin: 0;
  background: #fff;
  color: #222;
}
.App {
  font-family: "Heebo", sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
